In [3]:
import csv
import numpy as np
import pandas as pd

In [4]:
basic_df = pd.read_csv('wnba_basic_list.csv')
advanced_df = pd.read_csv('wnba_advanced_list.csv')

In [11]:
basic_df.head()

,Player,Year,Team,Position,Games_Played,Games_Started,Min_Played,FG,FGA,FG%,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Tajama Abraham,1997,SAC,C,28,5,422,48,126,0.381,...,38,0.684,32,67,13,12,12,49,70,122
1,Marcie Alberts,1997,CLE,G,5,0,30,0,2,0.000,...,0,NaN,0,1,3,2,0,3,2,0
2,Monique Ambers,1997,PHO,F,19,0,85,4,9,0.444,...,15,0.400,10,20,4,0,2,7,13,14
3,Yvette Angel,1997,SAC,G,5,3,90,7,16,0.438,...,3,0.000,2,9,11,4,1,8,6,14
4,Janeth Arcain,1997,HOU,G,28,27,784,110,250,0.440,...,85,0.894,41,110,45,43,4,67,56,305

In [16]:
advanced_df.head()

,Player,Year,Team,Position,Games_Played,Min_Played,PER,TS%,3PAr,FTr,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40
0,Anita Maxwell,1997,CLE,F,9,63,11.2,0.345,0.000,0.333,...,12.3,24.8,3.5,0.0,17.9,24.8,-0.1,0.1,0.0,-0.021
1,Tammi Reiss,1997,UTA,G,28,831,9.6,0.423,0.437,0.238,...,5.3,20.8,1.5,0.2,19.3,17.0,0.2,-0.7,-0.5,-0.024
2,Catarina Pollini,1997,HOU,F,13,94,4.6,0.403,0.000,0.545,...,8.4,10.0,2.4,0.9,22.7,17.6,-0.1,0.1,0.0,0.005
3,Bridget Pettis,1997,PHO,G,28,842,17.0,0.478,0.417,0.336,...,7.8,20.4,3.1,1.2,18.2,24.1,1.4,1.7,3.2,0.150
4,Kim Perrot,1997,HOU,G,28,692,14.1,0.452,0.611,0.228,...,7.2,23.8,5.6,0.2,26.7,16.5,0.2,1.5,1.7,0.098

In [12]:
new_df = pd.merge(basic_df, advanced_df)

In [13]:
new_df.shape

(3730, 43)

In [15]:
new_df.columns

Index(['Player', 'Year', 'Team', 'Position', 'Games_Played', 'Games_Started',
       'Min_Played', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/40'],
      dtype='object')

In [18]:
mask = (new_df['Player'] == 'Mikiko Hagiwara')

In [20]:
new_df[new_df['Player'] == 'Ryneldi Becenti']

,Player,Year,Team,Position,Games_Played,Games_Started,Min_Played,FG,FGA,FG%,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40
8,Ryneldi Becenti,1997,PHO,G,1,0,8,0,0,NaN,...,0.0,0.0,6.7,0.0,100.0,5.6,0.0,0.0,0.0,-0.09