In [16]:
import numpy as np
from sklearn.linear_model import LinearRegression, Lasso, LassoCV, Ridge, RidgeCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.metrics import r2_score
import seaborn as sns
import pandas as pd
%matplotlib inline
sns.set()

In [17]:
main_df = pd.read_pickle('wnba_total_df.pkl')

In [18]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3730 entries, 0 to 3729
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player         3730 non-null   object
 1   Year           3730 non-null   int64
 2   Team           3730 non-null   object
 3   Position       3708 non-null   object
 4   Games_Played   3730 non-null   int64
 5   Games_Started  3730 non-null   int64
 6   Min_Played     3730 non-null   int64
 7   FG             3730 non-null   int64
 8   FGA            3730 non-null   int64
 9   FG%            3698 non-null   float64
 10  3P             3730 non-null   int64
 11  3PA            3730 non-null   int64
 12  3P%            3045 non-null   float64
 13  2P             3730 non-null   int64
 14  2PA            3730 non-null   int64
 15  2P%            3679 non-null   float64
 16  eFG%           3698 non-null   float64
 17  FT             3730 non-null   int64
 18  FTA            3730 non-null   int64
 19  FT%            3524 non-null   float64
 20  ORB            3730 non-null   int64
 21  TRB            3730 non-null   int64
 22  AST            3730 non-null   int64
 23  STL            3730 non-null   int64
 24  BLK            3730 non-null   int64
 25  TOV            3730 non-null   int64
 26  PF             3730 non-null   int64
 27  PTS            3730 non-null   int64
 28  PER            3726 non-null   float64
 29  TS%            3705 non-null   float64
 30  3PAr           3698 non-null   float64
 31  FTr            3698 non-null   float64
 32  ORB%           3726 non-null   float64
 33  TRB%           3726 non-null   float64
 34  AST%           3726 non-null   float64
 35  STL%           3726 non-null   float64
 36  BLK%           3726 non-null   float64
 37  TOV%           3715 non-null   float64
 38  USG%           3726 non-null   float64
 39  OWS            3730 non-null   float64
 40  DWS            3730 non-null   float64
 41  WS             3730 non-null   float64
 42  WS/40          3726 non-null   float64
dtypes: float64(20), int64(20), object(3)
memory usage: 1.3+ MB

In [22]:
reduced_df = main_df.loc[:, ['Games_Started'/'Games_Played','PTS'/'Games_Played', 'PER', 'TS%','ORB%','TRB%','AST%','STL%','BLK%','TOV%','USG%', 'WS/40']]

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [21]:
reduced_df

        TS%  WS/40
0     0.427 -0.077
1     0.000 -0.138
2     0.449  0.038
3     0.404 -0.061
4     0.531  0.169
...     ...    ...
3725  0.459 -0.006
3726  0.420  0.067
3727  0.437  0.038
3728  0.560  0.098
3729  0.464  0.006

[3730 rows x 2 columns]