In [5]:
import csv
import numpy as np
import pandas as pd
from collections import defaultdict

In [6]:
basic_df = pd.read_csv('wnba_basic_list.csv')
advanced_df = pd.read_csv('wnba_advanced_list.csv')

In [7]:
new_df = pd.merge(basic_df, advanced_df)

In [8]:
new_df.columns

Index(['Player', 'Year', 'Team', 'Position', 'Games_Played', 'Games_Started',
       'Min_Played', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/40'],
      dtype='object')

In [9]:
mask = (new_df['Player'] == 'Mikiko Hagiwara')

In [10]:
new_df[new_df['Player'] == 'Ryneldi Becenti']

,Player,Year,Team,Position,Games_Played,Games_Started,Min_Played,FG,FGA,FG%,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40
8,Ryneldi Becenti,1997,PHO,G,1,0,8,0,0,NaN,...,0.0,0.0,6.7,0.0,100.0,5.6,0.0,0.0,0.0,-0.09

In [41]:
feature_dict = defaultdict(list)

In [64]:
feature_list = [item for item in new_df.columns]

In [66]:
not_feats = []
feats_not_included = []
feats_included = []

In [81]:
not_feats.append(feature_list.pop(0))

In [132]:
feats_not_included.append(feature_list.pop(0))

In [133]:
feats_included.append(feature_list.pop(0))

In [153]:
not_feats

['Player', 'Year', 'Min_Played']

['Games_Played',
 'Games_Started',
 'FGA',
 'Position',
 'Games_Played',
 'Games_Started',
 'FG%',
 '3P%',
 '2P%',
 'eFG%',
 'FT%',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PER',
 'TS%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'OWS',
 'DWS',
 'WS/40']